
<div class="bgimg container-fluid justify-content-center text-white">
  <div class="row text-center">
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also th</p>
  </div>
  <form action="" class="text-center">
    <div class="form-row text-center">
    <div class="col-lg-4">
      <label for="startday">start day</label>
      <input id="startday" type="date" class="form-control">
    </div>
    <div class="col-lg-4">
      <label for="Endday">End day</label>
      <input id="Endday" type="date" class="form-control">
    </div>
    
  </div>
  <div class="from-row pt-2">
    <div class="col-lg-4">
    <button type="submit" class="btn btn-info">search</button>
    </div>
  </div>
 
  </form>
 
    
</div>




<div class="container pt-4">
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>	
</div>
<!-- image galery -->
<div class="container">
  <div class="row p-0 m-0">
  <!-- col1 -->
  <div class=" p-0 m-0 col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="https://source.unsplash.com/OAVqa8hQvWI"  alt="weeding hall">
        <div class="overlay">
          <h2>Weeding venue</h2>
      
           <a class="info" href="#"><p >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into</p></a>
        </div>
    </div>
</div>
<!-- col2 -->
  <div class=" p-0 m-0 col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="https://source.unsplash.com/N_Y88TWmGwA" alt="spa">
        <div class="overlay">
           <h2>Spa</h2>
           <a class="info" href="#"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into</p></a>
        </div>
    </div>
</div>
  
</div>
<!-- image galery -->
  <div class="row p-0 m-0">
  <!-- col1 -->
  <div class=" p-0 m-0 col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="https://source.unsplash.com/OAVqa8hQvWI"  alt="weeding hall">
        <div class="overlay">
          <h2>Weeding venue</h2>
      
           <a class="info" href="#"><p >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into</p></a>
        </div>
    </div>
</div>
<!-- col2 -->
  <div class=" p-0 m-0 col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="https://source.unsplash.com/N_Y88TWmGwA" alt="spa">
        <div class="overlay">
           <h2>Spa</h2>
           <a class="info" href="#"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into</p></a>
        </div>
    </div>
</div>
  
</div>
<!-- row -->
<div class="card" >
<div class="row shadow bg-white">
  <div class="col-md-4">
      <img src="https://source.unsplash.com/N_Y88TWmGwA" class="card-img" alt="...">
    </div>
   <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">lunch</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
</div>
</div>
<div class="card mb-3" >
<div class="row shadow bg-white">
   <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">weeding hall</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
     <div class="col-md-4">
      <img src="https://source.unsplash.com/OAVqa8hQvWI" class="card-img" alt="...">
    </div>
</div>
</div>




</div>
