<nav class="site-header sticky-top py-1 bg-dark">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 text-white" [routerLink]="['/']">HOT <i class="fas fa-hotel orange"></i> </a>
    <a class="py-2 d-none d-md-inline-block text-white" [routerLink]="['/home']" href="#">Home</a>
    <a class="py-2 d-none d-md-inline-block text-white" href="#">About Us</a>
  <!--   <a class="py-2 d-none d-md-inline-block text-white" href="#">Features</a>
    <a class="py-2 d-none d-md-inline-block text-white" href="#">Enterprise</a>
    <a class="py-2 d-none d-md-inline-block text-white" href="#">Support</a>
    <a class="py-2 d-none d-md-inline-block text-white" href="#">Pricing</a>
    <a class="py-2 d-none d-md-inline-block text-white" href="#">Cart</a> -->
  </div>
</nav>
